body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #31255a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Weather, .form-control, .btn {
    border: 1px solid #31255a;
}

.Weather {
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
}

form {
    margin-bottom: 20px;
}

.btn {
    background-color: #75b4e3;
}

h1 {
    line-height: 40px;
    margin: 20px 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li, .unit {
    font-size: 16px;
}

.Weather li {
    font-weight: 100;
    line-height: 20px;
    list-style: none;
}

.Weather canvas {
    margin: 8px 5px;
    line-height: 55px;
}

.Weather .temperature {
    font-weight: bold;
    font-size: 3em;
    font-weight: 400;
}

.Weather .unit {
    font-weight: 400;
    position: relative;
    top: -30px;
    margin-left: 5px;
    line-height: 1;
}