body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #0067AE;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Weather {
    border: 1px solid #0067AE;
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
}
.Weather form {
    margin-bottom: 20px;
}

.Weather h1 {
    line-height: 40px;
    opacity: 75%;
    margin: 20px 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    list-style: none;
}

.Weather canvas {
    margin: 8px 5px;
    line-height: 55px;
}

.Weather .temperature {
    font-weight: bold;
    font-size: 55px;
    line-height: 55px;
    font-weight: 400;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -30px;
    margin-left: 5px;
    line-height: 1;
}